:root {
    --cinza: #667085;
    --preto: #101828;
    --vermelho: #8e2424;

    --tamanho-nav: 16px;
    --tamanho-h1: 48px;
    --tamanho-sobre-p: 16px;
    --tamanho-sobre-texto: 20px;
    --tamanho-h2: 60px;
    --tamanho-metricas-titulo: 18px;
    --tamanho-metricas-texto: 16px;
    --tamanho-h3: 44px;

    --peso-nav: 500;
}
