:root {
    --cinza: #667085;
    --cinza-borda: #eaecf0;
    --preto: #101828;
    --vermelho: #8e2424;
    --vermelho-transparente: #8e24240d;

    --tamanho-nav: 16px;
    --tamanho-h1: 48px;
    --tamanho-sobre-p: 16px;
    --tamanho-sobre-texto: 20px;

    --tamanho-h2: 60px;
    --tamanho-metricas-titulo: 18px;
    --tamanho-metricas-texto: 16px;

    --tamanho-h3: 44px;
    --tamanho-vagas-p: 14px;
    --tamanho-vagas-texto: 20px;
    --tamanho-vagas-area: 20px;
    --tamanho-vaga: 18px;
    --tamanho-vaga-detalhes: 16px;

    --tamanho-h4: 36px;
    --tamanho-depo-p: 14px;
    --tamanho-depo-nome: 16px;
    --tamanho-depo-trabalho: 14px;

    --peso-nav: 500;
}
