.depoimento_container {
    background-color: var(--fundo-depo);
    border-radius: 1rem;
    font-family: "Inter", sans-serif;
    margin: 0 7rem 7rem 7rem;
    padding: 4rem;
    text-align: center;
}

.depoimento_container-texto {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.depoimento_p {
    color: var(--vermelho);
    font-size: var(--tamanho-depo-p);
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 1rem;
}

.depoimento_titulo {
    color: var(--preto);
    font-size: var(--tamanho-h4);
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 44px;
}

.depoimento_container-pessoa {
    display: flex;
    flex-direction: column;
}

.depoimento_avatar {
    width: 56px;
    margin: auto;
    margin-bottom: 1rem;
}

.depoimento_nome {
    color: var(--preto);
    font-size: var(--tamanho-depo-nome);
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0.25rem;
}

.depoimento_trabalho {
    color: var(--cinza);
    font-size: var(--tamanho-depo-trabalho);
    font-weight: 400;
    line-height: 20px;
}
